<script setup lang="ts">
import { useOrderStore } from "../../stores/order";
import { useCoffeeStore } from "@/stores/coffee";
const useCoffee = useCoffeeStore();
const useOrder = useOrderStore();
const category = defineProps<{
  category: string;
}>();
function category_serc(category: string) {
  return useCoffee.coffee.filter(function (coffee) {
    return coffee.category === category;
  });
}
</script>
<template>
  <v-card
    ><v-row>
      <v-col class="d-flex flex-wrap justify-center">
        <v-hover
          v-slot="{ isHovering, props }"
          close-delay="200"
          v-for="(item, index) in category_serc(category.category)"
          :key="index"
        >
          <v-card
            class="text-center ml-6 mb-6"
            :elevation="isHovering ? 16 : 2"
            v-bind="props"
            width="250px"
            v-ripple
            style="background-color: #e9d0be"
            @Click="useOrder.OnClilkMenu(item.id)"
          >
            <v-img
              :src="item.img"
              cover
              lazy-src="https://i.pinimg.com/originals/a5/7b/f9/a57bf940269ffbf167f8b0c5fd50315c.gif"
            ></v-img>
            <v-card-title class="font-weight-medium">{{
              item.name
            }}</v-card-title>
            <v-card-subtitle class="mb-3 font-weight-bold"
              >ราคา : {{ item.price }} บาท</v-card-subtitle
            >
          </v-card>
        </v-hover>
      </v-col>
    </v-row></v-card
  >
</template>
