<script setup lang="ts">
import CoffeeCardMenu from "./CoffeeCardMenu.vue";
import OrderListView from "./OrderListView.vue";
import OrderReceipt from "./OrderReceipt.vue";
import { mdiCupOutline, mdiFoodCroissant, mdiFoodOutline } from "@mdi/js";
import { ref } from "vue";
const tab = ref("");
</script>

<template>
  <v-row>
    <v-col cols="4">
      <OrderListView></OrderListView>
      <OrderReceipt></OrderReceipt>
    </v-col>
    <v-col cols="8">
      <!-- tab -->
      <v-card>
        <v-tabs
          bg-color="brown lighten-1"
          fixed-tabs
          v-model="tab"
          slider-color="#F9F6BC"
        >
          <v-tab value="drink" :prepend-icon="mdiCupOutline">เครื่องดื่ม</v-tab>
          <v-tab value="dessert" :prepend-icon="mdiFoodCroissant">ขนม</v-tab>
          <v-tab value="food" :prepend-icon="mdiFoodOutline">อาหาร</v-tab>
        </v-tabs>
        <v-card-text style="height: 615px; overflow: auto">
          <v-window v-model="tab">
            <v-window-item value="drink">
              <CoffeeCardMenu :category="tab" />
              <!--tab value is drink -->
            </v-window-item>

            <v-window-item value="dessert">
              <CoffeeCardMenu :category="tab" />
            </v-window-item>

            <v-window-item value="food">
              <CoffeeCardMenu :category="tab" />
            </v-window-item>
          </v-window>
        </v-card-text>
      </v-card>
      <!-- tab  -->
    </v-col>
  </v-row>
</template>

<style scoped></style>
