<script setup lang="ts">
import {
  mdiCurrencyThb,
  mdiAccountMultiplePlusOutline,
  mdiAccountSearchOutline,
} from "@mdi/js";
</script>
<template>
  <div>
    <v-card style="width: auto">
      <v-container class="spacing-playground pa-8" fluid style="width: 100%">
        <div>
          <div>
            <v-row>
              <v-col cols="4">
                <v-checkbox label="เป็นสมาชิก"></v-checkbox
              ></v-col>
              <v-col cols="5">
                <v-form>
                  <v-text-field></v-text-field>
                </v-form>
              </v-col>
              <v-col cols="12" md="3">
                <v-btn
                  height="40"
                  width="90"
                  style="
                    justify-content: center;
                    background-color: rgb(111, 103, 103);
                    color: aliceblue;
                  "
                  :prepend-icon="mdiAccountSearchOutline"
                  >ค้นหา</v-btn
                >
              </v-col>
            </v-row>
          </div>
          <div>
            <v-row style="padding-bottom: 10px"> </v-row>
          </div>
        </div>
        <div>
          <v-divider></v-divider>
        </div>
        <div style="padding-top: 10px">
          <v-row>
            <v-col cols="8">
              <v-row>
                <v-col cols="6"><h2>รวม</h2></v-col>
                <v-col class="space1" cols="3"><h3>0.00</h3></v-col>
                <v-col class="space2" cols="3">บาท</v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><h4>ส่วนลดสมาชิก</h4></v-col>
                <v-col class="space1" cols="3">0.00</v-col>
                <v-col class="space2" cols="3">บาท</v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><h4>ภาษี</h4></v-col>
                <v-col class="space1" cols="3">0.00</v-col>
                <v-col class="space2" cols="3">บาท</v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><h4>จำนวมเงินรับมา</h4></v-col>
                <v-col class="space1" cols="3">0.00</v-col>
                <v-col class="space2" cols="3">บาท</v-col>
              </v-row>
              <v-row>
                <v-col cols="6"><h4>เงินทอน</h4></v-col>
                <v-col class="space1" cols="3"><h3>0.00</h3></v-col>
                <v-col class="space2" cols="3">บาท</v-col>
              </v-row>
            </v-col>
            <v-col cols="4" style="padding-top: 30px">
              <v-row>
                <v-btn
                  height="60"
                  width="180"
                  style="
                    justify-content: center;
                    background-color: rgb(75, 187, 239);
                  "
                  :prepend-icon="mdiAccountMultiplePlusOutline"
                  ><h4>สมัครสมาชิก</h4></v-btn
                ></v-row
              >
              <v-row class="spaceButton">
                <v-btn
                  height="100"
                  width="200px"
                  style="background-color: rgb(104, 228, 93)"
                  :prepend-icon="mdiCurrencyThb"
                  ><h2>ชำระเงิน</h2></v-btn
                ></v-row
              >
              <v-row style="padding-top: 55px; padding-left: 40px"
                ><v-btn
                  height="40"
                  width="200px"
                  style="background-color: rgb(220, 65, 65); color: aliceblue"
                  ><h4>ยกเลิก</h4></v-btn
                ></v-row
              >
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-card>
  </div>
</template>

<style scoped>
.space1 {
  text-align: right;
}
.space2 {
  text-align: center;
}
.spaceButton {
  padding-top: 15px;
}
</style>
