<script setup lang="ts">
import { mdiDeleteOutline, mdiPlus, mdiMinus } from "@mdi/js";
import { useOrderStore } from "../../stores/order";

const useOrder = useOrderStore();
</script>

<template>
  <v-card style="width: auto">
    <v-table id="order" fixed-header height="250px">
      <thead>
        <tr>
          <th class="text-center">No.</th>
          <th class="text-center">สินค้า</th>
          <th class="text-center">ราคา</th>
          <th class="text-center">จำนวน</th>
          <th class="text-center">รวม</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in useOrder.order" :key="index">
          <td class="text-center">{{ index + 1 }}</td>
          <td class="text-center">{{ item.name }}</td>
          <td class="text-center">{{ item.price }}</td>
          <td class="text-center">
            <v-btn
              :icon="mdiPlus"
              size="25px"
              class="mr-5"
              style="background-color: rgb(95, 200, 49); color: aliceblue"
              @Click="useOrder.AddMenu(item.id)"
            ></v-btn
            >{{ item.count
            }}<v-btn
              :icon="mdiMinus"
              size="25px"
              class="ml-5"
              @Click="useOrder.DelMenu(item.id)"
              style="background-color: rgb(217, 77, 77); color: aliceblue"
            ></v-btn>
          </td>
          <td class="text-center">{{ item.sum }}</td>
          <td style="text-align: right">
            <v-btn
              :icon="mdiDeleteOutline"
              style="background-color: rgb(111, 103, 103); color: aliceblue"
              @Click="useOrder.DelOrder(item.id)"
              size="30px"
            ></v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style>
#order {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  background-color: #e9d0be;
}
.text-center {
  text-align: center;
}
#order td,
#order th {
  padding: 8px;
}

#order tr:nth-child(even) {
  background-color: #d8a67f;
}

#order th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6b4d36;
  color: white;
}
</style>
