<script setup lang="ts">
import { mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <div>
    <v-btn color="success" :icon="mdiCursorDefaultClickOutline"></v-btn>
  </div>
</template>
<style scoped></style>
